:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.connecting-div {
  display: flex;
  justify-content: center;
}

.connecting-message {
  width: 150px;
  padding: 10px;
  margin-top: 15px;
  background-color: #dfa44140;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
}

.connecting-message:hover {
  background-color: #dfa44178;
}

.spreadsheet-app {
  position: sticky;
  top: 0;
  z-index: 9;
}

.header-title-div {
  box-sizing: border-box;
  padding: 1.5rem;
  background: lightblue;
}

.header-title-h3 {
  display: block;
    margin: 0;
}

.main-section {
  margin: 0 15px;
  display: flex;
  justify-content: center;
}

.section div.jtabs {
  width: 1051px;
  min-width: 1000px;
}

.section div.jtabs-headers-container {
  position: sticky;
  top: 72px;
  z-index: 10;
  background: #ffffff;
  padding: 10px 0;
  width: 100%;
  max-width: 100% !important;
}

.section .jtabs-content {
  margin-top: 0px;
  overflow-x: auto;
  position: relative;
  border: 1px solid #000;
}

.section .jss_content,
.section .jss.jss_overflow {
  width: 100%
}

.jcontextmenu > div::before {
  content: '';
}

.spreadsheet_1 td[data-y="8"],
.spreadsheet_1 td[data-y="16"],
.spreadsheet_1 td[data-y="24"],
.spreadsheet_1 td[data-y="32"],
.spreadsheet_1 td[data-y="36"] { 
  background-color: #FABF8E;
  color: #000 !important; 
  font-weight: 600;
  border: 1px solid #000;
}

.spreadsheet_1 tr:first-child td[data-x="1"],
.spreadsheet_1 tr:first-child td { 
  background: #f3f3f3 !important;
  color: #000 !important;
  font-weight: normal;
}

.spreadsheet_1 td[data-x="1"]:not(:first-child) {
  background-color: #FABF8E;
  color: #000 !important; 
  font-weight: 600;
}

.spreadsheet_2 tr td[data-y="0"].readonly,
.spreadsheet_2 tr td[data-y="1"].readonly { 
  background: #f3f3f3 !important;
  color: #0724ee !important;
  font-weight: 700;
}

.spreadsheet_2 td[data-y="9"],
.spreadsheet_2 td[data-y="17"],
.spreadsheet_2 td[data-y="25"],
.spreadsheet_2 td[data-y="33"] {
  background-color: #FABF8E;
  color: #000 !important; 
  font-weight: 600;
  border: 1px solid #000;
}

.spreadsheet_2 tr:first-child td[data-x="1"],
.spreadsheet_2 tr:nth-child(2) td[data-x="1"] { 
  background:#f3f3f3 !important;
  color: #000 !important;
  font-weight: normal;
}

.spreadsheet_2 td[data-x="1"]:not(:first-child) {
  background-color: #FABF8E;
  color: #000 !important; 
  font-weight: 600;
}

/* .spreadsheet_2 tr:not(:first-child) td[data-y="37"] {
  background-color: #244162; 
  font-weight: 800;
  color: #fff !important; 
} 

.spreadsheet_2 td[data-x="1"]:not(:first-child) {
  background-color: #FABF8E;
  color: #000 !important; 
  font-weight: 600;
}

.spreadsheet_2 tr:not(:first-child) td[data-y="37"] {
  background-color: #244162; 
  font-weight: 800;
  color: #fff !important; 
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
