:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main-section {
  display: flex;
  justify-content: center;
}

.section {
  width: 1051px;
  min-width: 1000px;
  overflow-x: auto;
  position: relative;
}

.section div.jtabs-headers-container {
  position: fixed;
  width: 100%;
  max-width: 800px !important;
}

.section .jtabs-content {
  margin-top: 40px;
}

.jcontextmenu > div::before {
  content: '';
}

.spreadsheet_1 td[data-y="8"],
.spreadsheet_1 td[data-y="16"],
.spreadsheet_1 td[data-y="24"],
.spreadsheet_1 td[data-y="32"],
.spreadsheet_1 td[data-y="36"] { 
  background-color: #FABF8E;
  color: #000 !important; 
}

.spreadsheet_1 tr:first-child td[data-x="1"]{
  background:transparent !important;
  color: #000 !important;
}
.spreadsheet_1 td[data-x="1"]:not(:first-child) {
  background-color: #FABF8E;
  color: #000 !important; 
  font-weight: 700;
}
.spreadsheet_1 tr:last-child td[data-x="1"] {
  background-color: #244162; 
  color: #fff;
  font-weight: normal;
}

.spreadsheet_1 td[data-y="37"] {
  background-color: #244162; 
  font-weight: 900;
  color: #fff !important; 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
